{% extends 'main.html' %}
{% load static %}
{% load i18n %}


{% block title %}
Fitness - Parolni tiklash
{% endblock %}



{% block content %}

<section class="container mt-80 mb-5">
    <p class="m-auto text-center w-75">{% trans 'Parolni tiklash' %}</p>
    <form class="row justify-content-center align-items-center mt-5" method="post">
      {% csrf_token %}
      <div class="col-12 col-md-8 col-lg-6 mt-5">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" name="email" id="floatingInput" placeholder="E-mail">
          <label for="floatingInput">{% trans 'E-Pochta' %}</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Parol">
          <label for="floatingPassword">{% trans 'Yangi parol' %}</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" name="password1" id="floatingPassword" placeholder="Parol">
            <label for="floatingPassword">{% trans 'Parolni takrorlang' %}</label>
        </div>
        
        <input class="form-control w-25 mt-3 btn-dark m-auto" type="submit" value="Saqlash">
      </div>
    </form>
    {% if error %}
    <center>
      <div class="alert alert-danger w-50 mt-3">
        {% trans '{{ error }}' %}
      </div>
    </center>
    {% endif %}
  </section>

{% endblock %}